body {
    margin: 0;
    overflow: hidden;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
body:hover { cursor: pointer; }

a:link {
    color: #fff;
    text-decoration: none;
}
a:visited {
    color: #fff;
    text-decoration: none;
}
a:hover {
    color: #fff;
    text-decoration: underline;
}
a:active {
    color: #fff;
    text-decoration: underline;
}
#list {
    color: #fff;
    font-size: x-large;
}

@keyframes hideshow {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes blackwhite {
    0%   { opacity:0; color: black; background-color:transparent; }
    10%   { opacity:0; color: black; background-color:transparent; }
    60% { opacity:0.5; color: black; background-color: white; border:1px solid black; }
    85% { opacity:1; color: white; background-color: black; }
    100% { opacity:1; color: white; background-color: black; }
}

.info {
    font: small-caps bold x-large Arial, sans-serif;
    color: black;
    position: absolute;
    padding:10px;
}
.info.corner {
    opacity: 0;
    animation: hideshow 2.5s 5s linear infinite alternate;
}
.info.github-text-off {
    display:none;
}
.info.github-text-on {
    display:block;
    align-items: center;
    text-align: center;
    padding: 30px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: blackwhite 5s 0s linear infinite alternate;
}